asttokens==3.0.1
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
bidict==0.23.1
blinker==1.9.0
certifi==2020.6.20
chardet==4.0.0
click==8.3.2
cloud-init==25.1.4
cloudpickle==3.1.2
colorama==0.4.4
comm==0.2.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.2
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.20
decorator==5.2.1
dill==0.4.1
distro==1.7.0
distro-info==1.1+ubuntu0.2
exceptiongroup==1.3.1
executing==2.2.1
Farama-Notifications==0.0.4
Flask==3.1.3
Flask-SocketIO==5.6.1
fonttools==4.62.1
gymnasium==1.2.3
h11==0.16.0
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
ipykernel==7.2.0
ipython==8.39.0
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
keyring==23.5.0
kiwisolver==1.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
more-itertools==8.10.0
nest-asyncio==1.6.0
netifaces==0.11.0
numpy==1.26.4
oauthlib==3.2.0
opencv-python==4.11.0.86
-e git+https://github.com/QinHaichen12/overcooked_ai.git@dad085bcba585d5f9b7d02b1da6020bb62132fe1#egg=overcooked_ai
packaging==26.0
pandas==2.3.3
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.9.6
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycurl==7.44.1
pygame==2.6.1
Pygments==2.20.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==3.3.2
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-engineio==4.13.1
python-socketio==5.16.1
pytz==2022.1
PyYAML==5.4.1
pyzmq==27.1.0
requests==2.25.1
scipy==1.15.3
seaborn==0.13.2
SecretStorage==3.3.1
service-identity==18.1.0
simple-websocket==1.1.0
six==1.16.0
stack-data==0.6.3
systemd-python==234
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
Twisted==22.1.0
typing_extensions==4.15.0
tzdata==2025.3
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
uv==0.11.3
wadllib==1.3.6
wcwidth==0.6.0
Werkzeug==3.1.8
widgetsnbextension==4.0.15
wsproto==1.3.2
zipp==1.0.0
zope.interface==5.4.0
